@import url('https://fonts.googleapis.com/css?family=Grenze+Gotisch');

/**
 * TOKENS
*/
:root {
  /* COLOR TOKENS */
  --token-white: hsl(43, 100%, 99%);

  --token-yellow: hsl(60, 45%, 98%);
  --token-yellow-mute: hsl(29, 42%, 88%);

  --token-black: rgb(49, 43, 70);

  --token-blue: rgb(0, 3, 199);
  --token-blue-no-opacity: 0, 3, 199;

  --token-blue-dark: rgb(43, 156, 248);
  --token-blue-dark-no-opacity: 171, 188, 247;

  --token-blue-mute: rgb(46, 47, 92);

  --token-grey-light: rgba(60, 84, 121, 0.29);
  --token-grey-dark: rgba(76, 78, 99, 0.65);
}

/**
 * SEMANTIC VARIABLES
*/
:root {
  /* COLOR */
  --color-background: var(--token-yellow);
  --color-background-mute: var(--token-yellow-mute);

  --color-background-danger: rgb(255, 219, 219);
  --color-foreground-danger: rgb(163, 35, 35);

  --color-accent: var(--token-blue);
  --color-on-accent: var(--token-yellow);
  --color-accent-subtle: rgba(var(--token-blue-no-opacity), 0.4);

  --color-foreground-strong: var(--token-blue);
  --color-foreground: var(--token-blue-mute);

  --color-border: var(--token-grey-light);

  --color-backdrop: rgba(60, 60, 60, 0.4);

  /* SPACING */
  --padding-xl: calc(4 * 16px);
  --padding-l: calc(3 * 16px);
  --padding-m: calc(1.5 * 16px);
  --padding-s: 16px;
  --padding-xs: calc(0.5 * 16px);
  --gap-xl: calc(4 * 16px);
  --gap-l: calc(2 * 16px);
  --gap-m: 16px;
  --gap-s: calc(0.5 * 16px);
  --gap-xs: calc(0.25 * 16px);

  /* BORDER */
  --border: solid 1px var(--color-border);
  --border-radius: 4px;

  /* TYPOGRAPHY */
  --font-family-heading: 'Grenze Gotisch', serif;
  --font-family-body: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;

  --line-height-tighter: 1;
  --line-height-tight: 1.2;
  --line-height-loose: 1.6;

  --font-size-body-l: calc(1.2 * 1rem);
  --font-size-body-m: 1rem;
  --font-size-body-s: calc(0.8 * 1rem);
  --font-size-heading-xl: calc(5 * 1rem);
  --font-size-heading-l: calc(4 * 1rem);
  --font-size-heading-m: calc(3 * 1rem);
  --font-size-heading-s: calc(1.5 * 1em);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--token-black);
    --color-background-mute: var(--token-blue-mute);

    --color-accent: var(--token-blue-dark);
    --color-on-accent: var(--token-black);
    --color-accent-subtle: rgba(var(--token-blue-dark-no-opacity), 0.4);

    --color-border: var(--token-grey-dark);

    --color-foreground-strong: var(--token-blue-dark);
    --color-foreground: var(--token-white);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  font-size: 18px;
}

body {
  min-height: 100vh;
  color: var(--color-foreground-strong);
  background-color: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: var(--line-height-loose);
  font-family: var(--font-family-body);
  font-size: var(--font-size-body-m);
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**
  TYPOGRAPHY
 */

h2,
h3 {
  font-family: var(--font-family-heading);
}

h1 {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-heading-l);
  line-height: var(--line-height-tighter);
}

h2 {
  font-size: var(--font-size-heading-m);
  line-height: var(--line-height-tight);
}

h3 {
  font-size: var(--font-size-heading-s);
  line-height: var(--line-height-tight);
}

input[type='text'] {
  /* Reset styles */
  border: none;
  /* Custom styles */
  width: 100%;
  height: 2rem;
  padding: var(--padding-xs);
  border: 1px solid var(--color-accent-subtle);
  border-radius: var(--border-radius);
}
textarea {
  /* Reset styles */
  border: none;
  /* Custom styles */
  width: 100%;
  height: 5rem;
  min-height: 2rem;
  padding: var(--padding-xs);
  border: 1px solid var(--color-accent-subtle);
  border-radius: var(--border-radius);
}

/** 
  UTILS
 */

/* ACCESSIBILITY */
/* Util to visually hide an element, but read by screen reader. 
 * Source: https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
