/**
 * TOKENS
*/
:root {
  /* COLOR TOKENS */
  --token-white: #ffffff;
  --token-white-mute: #f2f2f2;

  --token-black: #181818;
  --token-black-mute: #363636;

  --token-divider-light: rgba(60, 60, 60, 0.29);
  --token-divider-dark: rgba(84, 84, 84, 0.65);
}

/**
 * SEMANTIC VARIABLES
*/
:root {
  /* COLOR */
  --color-background: var(--token-white);
  --color-background-mute: var(--token-white-mute);

  --color-border: var(--token-divider-light);
  --color-border-hover: var(--token-divider-light);

  --color-text: var(--token-black);
  --color-text-mute: var(--token-black-mute);

  --color-backdrop: rgba(60, 60, 60, 0.2);

  /* SPACING */
  --padding-l: 3rem;
  --padding-m: 1.5rem;
  --gap-m: 1rem;
  --gap-section: 3rem;

  /* BORDER */
  --border: solid 1px var(--color-border);
  --border-radius: 8px;

  /* TYPOGRAPHY */
  --font-family-sans:
    Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  --font-family-serif: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
  --line-height: 1.6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--token-black);
    --color-background-mute: var(--token-black-mute);

    --color-border: var(--token-divider-dark);
    --color-border-hover: var(--token-divider-dark);

    --color-text: var(--token-white);
    --color-text-mute: var(--token-white-mute);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: var(--line-height);
  font-family: var(--font-family-sans);
  font-size: 15px;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
