@import './base.css';

#app {
  max-width: 1280px;
  margin: auto;
  /* Updated through media queries */
  padding: var(--padding-m) var(--padding-xs);
}

@media (width > 568px) {
  #app {
    padding: var(--padding-m);
  }
}
